@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a la Clase 2</h1>
    <p>Página oficial de la Clase 2 - Herramientas de Programación</p>
</div>


<h2>Vista Parcial Razor Pages:</h2>

<partial name="_Formulario"></partial>