@page
@model Clase_2.Pages.IngresoExitosoModel
@{
    ViewData["Title"] = "Ha ingresado correctamente";
}

<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellat molestiae nemo? Error eaque cupiditate dicta officia, nostrum ipsum assumenda quae dignissimos doloribus ea, fugiat rerum tempora, iusto iure perspiciatis?</p>
