@page
@model PrivacyModel
@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
    Este espacio se utilizará para describir las políticas de privacidad de la clase 2.
</p>
