@page
@model Clase_2.Pages.PruebaFormModel
@{
    ViewData["Title"] = "Prueba de Formulario";
}

<form method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Usuario</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" asp-for="Datos.Usuario">    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" asp-for="Datos.Contraseña">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Mantener sesión iniciada</label>
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>

