@page
@model Clase_2.Pages.SegundaClaseModel
@{
     ViewData["Title"] = "Segunda Clase";
}

<h1>@ViewData["Title"]</h1>


<partial name="_Formulario"></partial>

<h2>Listado de usuarios aceptados</h2>

<ol>
    <li>Francisco González</li>
    <li>Páz González</li>
    <li>Milagros González</li>
    <li>Santiago González</li>
    <li>Juan Francisco González</li>
</ol>
